body {
  font-family: 'Helvetica'; }
  body .basic-container {
    padding-top: 50px;
    padding-bottom: 50px; }

.btn-main {
  background-color: #699e1b;
  border-color: #699e1b;
  color: #fff; }
  .btn-main:hover {
    background-color: #74af1f; }

.form-control {
  border-radius: 6px; }
  .form-control:focus {
    border-color: #ced4db;
    -webkit-box-shadow: none;
    box-shadow: none; }

.btn {
  min-width: 70px;
  border-radius: 6px; }
  .btn:focus, .btn:active, .btn:not(:disabled):not(.disabled):active:focus {
    outline: none !important;
    box-shadow: none; }

.select-wrapper {
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #ced4db; }
  .select-wrapper .form-control {
    border: none; }
