:local(.ListOfPartners) .not-found {
  text-align: center; }
  :local(.ListOfPartners) .not-found .message {
    margin-bottom: 10px;
    margin-top: 50px; }

:local(.ListOfPartners) .box {
  margin-bottom: 10px; }
  :local(.ListOfPartners) .box .trash-category {
    margin-bottom: 10px; }
    :local(.ListOfPartners) .box .trash-category .badge {
      font-size: 12px;
      font-weight: 500; }
      :local(.ListOfPartners) .box .trash-category .badge:not(:first-child) {
        margin-left: 4px; }
  :local(.ListOfPartners) .box .caption {
    font-size: 14px; }
  :local(.ListOfPartners) .box .action-menu svg {
    font-size: 24px; }
  :local(.ListOfPartners) .box .action-menu span {
    position: relative;
    left: 4px;
    bottom: 6px; }
