:local(.NavbarWelcome) {
  background: #fdfdfd;
  border-bottom: 1px solid #adadad;
  height: 35px;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 2; }
  :local(.NavbarWelcome) .navbar-brand {
    vertical-align: middle;
    margin: 0 auto; }
    :local(.NavbarWelcome) .navbar-brand img {
      margin-right: 6px;
      height: 34px; }
    :local(.NavbarWelcome) .navbar-brand span {
      vertical-align: middle;
      font-weight: 700;
      color: #74af1f; }
