:local(.Welcome) .container {
  padding-top: 50px; }

:local(.Welcome) a,
:local(.Welcome) a:hover {
  text-decoration: none; }

:local(.Welcome) .right-side {
  padding-top: 30px; }
  :local(.Welcome) .right-side .anchor-as {
    text-align: center;
    font-size: 20px;
    padding: 16px; }
    :local(.Welcome) .right-side .anchor-as.supplier {
      border-radius: 4px;
      color: white;
      background: #699e1b; }
    :local(.Welcome) .right-side .anchor-as.partner {
      color: #699e1b;
      background: white;
      border: 2px solid; }
  :local(.Welcome) .right-side .or-separator {
    text-align: center;
    background: white;
    line-height: 50px; }
  :local(.Welcome) .right-side .quote-container {
    text-align: center;
    margin-top: 30px; }
    :local(.Welcome) .right-side .quote-container .quote {
      font-size: 18px;
      color: #699e1b; }
    :local(.Welcome) .right-side .quote-container .sub-qoute {
      font-size: 14px; }
