@import './Colors.scss';
@import './Colors.scss';

body {
  font-family: 'Helvetica';
  .basic-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.btn-main {
  background-color: $main-color;
  border-color: $main-color;
  color: #fff;
  &:hover {
    background-color: #74af1f;
  }
}
.form-control {
  border-radius: 6px;
  &:focus {
    border-color: #ced4db;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.btn {
  min-width: 70px;
  border-radius: 6px;
  &:focus,
  &:active,
  &:not(:disabled):not(.disabled):active:focus {
    outline: none !important;
    box-shadow: none;
  }
}
.select-wrapper {
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #ced4db;
  .form-control {
    border: none;
  }
}