:local(.ListOfPartners) {
  .not-found {
    text-align: center;
    .message {
      margin-bottom: 10px;
      margin-top: 50px;
    }
  }
  .box {
    margin-bottom: 10px;
    .trash-category {
      margin-bottom: 10px;
      .badge {
        font-size: 12px;
        font-weight: 500;
        &:not(:first-child) {
          margin-left: 4px;
        }
      }
    }
    .caption {
      font-size: 14px;
    }
    .action-menu {
      svg {
        font-size: 24px;
      }
      span {
        position: relative;
        left: 4px;
        bottom: 6px;
      }
    }
  }
}