:local(.NavbarMain) {
  background: red;
  .navbar-main {
    background: #fdfdfd;
    border-bottom: 1px solid #adadad;
    height: 35px;
    padding: 0 5px;
    .link-left-icon {
      position: absolute;
      top: 5px;
    }
    svg {
      font-size: 24px;
      cursor: pointer;
      position: absolute;
      color: #8c8c8c;
    }
    .navbar-brand {
      vertical-align: middle;
      margin: 0 auto;
      img {
        margin-right: 6px;
        height: 34px;
      }
      span {
        vertical-align: middle;
        font-weight: 700;
        color: #74af1f;
      }
    }
  }
}