@import './Colors.scss';

:local(.NavbarBottom) {
  background: #fdfdfd;
  border-top: 1px solid #adadad;
  height: 42px;
  .navbar {
    padding: 0;
  }
  ul {
    margin: 0 auto;
    .nav-item {
      line-height: 12px;
      width: 82px;
      a {
        padding-bottom: 0;
        padding-top: 0;
        color: $grey-menu;
        &:hover {
          color: $green-hover;
          text-decoration: none;
        }
        &.active-menu {
          color: $green-hover;
        }
      }
      svg {
        display: block;
        margin: auto;
        font-size: 25px;
      }
      span {
        font-size: 12px;
        text-align: center;
        display: block;
      }
    }
  }
}